<div class="overview-container">
  <h1 class="text-preset-1">{{ title() }}</h1>
  <div class="finance-summary">
    <app-balance-card [balanceSignal]="balance()" />
  </div>
  <div class="details">
    <div class="col-1">
      <app-pot-summary class="pots" [potSignal]="pots()" />
      <app-transactions-summary
        class="transactions"
        [transactionsSignal]="transactions()"
      />
    </div>
    <div class="col-2">
      <app-budgets-summary class="budget" [budgetSignal]="budgets()" />
      <app-recurring-bill-summary
        class="bill"
        [transactions]="transactions()"
      />
    </div>
  </div>
</div>
