@use "./typography.scss" as *;
@use "./variables.scss" as *;

*,
*::after *::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

html {
  font-size: 62.5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul {
  margin: unset;
  padding: unset;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  background: $beige-100;
}
