@use './typography.scss' as *;

*,
*::after *::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}
