@use "../../../../styleSheet/mixins" as *;
@use "../../../../styleSheet/variables" as *;
@use "../../../../styleSheet/breakpoints" as *;

.balance-card {
  @include flexbox(column, space-between, flex-start);
  gap: 1.2rem;
  width: 100%;

  @include mq("tablet") {
    @include flexbox(row, space-between, flex-start);
  }

  .card {
    @include flexbox(column, space-between, flex-start);
    gap: 1.2rem;
    width: 100%;
    padding: 2rem;
    background: $white;
    border-radius: 1.2rem;

    .title {
      color: $grey-500;
    }

    &.current {
      background: $grey-900;
      color: $white;

      .title {
        color: $white;
      }
    }
  }
}
