<div class="balance-card">
  @if (balanceSignal()?.current) {
  <div class="card current">
    <p class="title text-preset-4">Current balance</p>
    <h2 class="amount text-preset-1">
      {{ balanceSignal()?.current | currency }}
    </h2>
  </div>
  } @if (balanceSignal()?.income) {
  <div class="card income ">
    <p class="title text-preset-4">Income</p>
    <h2 class="amount text-preset-1">
      {{ balanceSignal()?.income | currency }}
    </h2>
  </div>
  } @if (balanceSignal()?.expenses) {
  <div class="card expenses">
    <p class="title text-preset-4">Expenses</p>
    <h2 class="amount text-preset-1">
      {{ balanceSignal()?.expenses | currency }}
    </h2>
  </div>
  }
</div>
